<!DOCTYPE html>
<html land="en">
<head>
  <meta charset="UTF-8">
  <title>Joel Speed</title>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
  <div id="name-card" class="main-container">
    <img id="pfp" src="/static/images/pfp.jpg">
    <h1 class="bolded">Joel Speed</h1>
    <div class="flex-title-card flex-center">
      <div class="flex-text bolded">IT Coordinator</div>
      <div class="flex-text">First Realty Group</div>
    </div>
    <div class="flex-container flex-center flex-padding">
      <div class="flex-icon">
        <a href="mailto:joelgspeed@gmail.com">
          <img id="svg" src="/static/images/email-square-icon.svg" alt="Email to button">
          <p class="hide">joelgspeed@gmail.com</p>
        </a>
      </div>
      <div class="flex-icon">
        <a href="tel:937-760-9685">
          <img id="svg" src="/static/images/call-square-icon.svg" alt="Call phone number button">
          <p class="hide">(937)-760-9685</p>
        </a>
      </div>
      <div class="flex-icon">
        <a href="https://www.linkedin.com/in/joel-g-speed/">
          <img src="/static//images/linkedin-square-icon.svg" alt="Go to LinkedIn button">
          <p class="hide">linkedin.com/in/joel-g-speed</p>
        </a>
      </div>
    </div>
    <p>
      <b>About Me: </b>an experienced IT professional in Help Desk, IT and Security consultation and integration;
      with projects involving Microsoft 365 Administration, Graphic and Website design, 
      IP Camera monitoring and Python application development.
    </p>
  </div>
  <div class="main-container">
    <div class="sub-container">
      <div class="divider-container">
        <h2>Scripting/Coding</h2>
        <hr/>
      </div>
      <div class="flex-container flex-center">
        <div class="flex-skill-box">Python - Advanced</div>
        <div class="flex-skill-box">Pandas - Intermediate</div>
        <div class="flex-skill-box">Tkinter - Intermediate</div>
        <div class="flex-skill-box">SMTPLib - Intermediate</div>
        <div class="flex-skill-box">Requests - Intermediate</div>
        <div class="flex-skill-box">Selenium - Intermediate</div>
        <div class="flex-skill-box">Flask - Beginner</div>
        <div class="flex-skill-box">C#/C++ - Beginner</div>
        <div class="flex-skill-box">SQL - Beginner</div>
        <div class="flex-skill-box">PowerShell - Intermediate</div>
      </div>
    </div> 
    <div class="sub-container">
      <div class="divider-container">
        <h2>Work Experience</h2>
        <hr/>
      </div>
      <div class="content-container">
        <div class="flex-title-card">
          <div class="flex-text bolded">IT Coordinator</div>
          <div class="flex-text">First Realty Group</div>
          <div class="flex-text">Jan 2022 - Present </div>
        </div>
        <p>
          Acting as the primary point of contact, consultation, and IT support for a company of 20+ people.
          
          Primary duties include equipment and software acquisition,
          help desk calls and network reliability assurance including management of all company Microsoft 365 systems.
          
          Projects are generally self-directed and self-paced.
        </p>
      </div>
      <div class="content-container">
        <div class="flex-title-card">
          <div class="flex-text bolded">Security Officer</div>
          <div class="flex-text">Merchants Security Service</div>
          <div class="flex-text">April 2021 - March 2022 </div>
        </div>
        <p>
          Acting as the primary point of contact, consultation, and IT support for a company of 20+ people.
          
          Primary duties include equipment and software acquisition,
          help desk calls and network reliability assurance including management of all company Microsoft 365 systems.
          
          Projects are generally self-directed and self-paced.
        </p>
      </div>
    </div> 
  </div>
</body>
</html>